.wrapper {
  gap: 1px;
  height: 100%;
  display: flex;

  .editorWrapper {
    width: 50%;
    height: 100%;

    .editor {
      height: 100%;
      color: #F8F7F4;
      font-size: 13px;
      background-color: #272822;
      overflow-y: auto !important;
      font-family: "Fira code", "Fira Mono", monospace;

      textarea {
        outline: none;
      }
    }
  }
}
